.textarea{
   resize: none;
   width: 100%;
   height: 100%;
}
.button{
   border-radius: 15px;
   font-size: 15px;
   border: 1px solid transparent;
   height: 30px;
   padding: 0 15px;
   -webkit-user-select: none;
      -moz-user-select: none;
       -ms-user-select: none;
           user-select: none;

}
.button_primary{
   color: #FFF;
   background: #3870c6;
}
.comment{
   /*border: 1px solid #f0f0f0;*/
}
.comment__avatar{
      width: 30px;
      height: 30px;
   }
.comment__avatar img{
   width: 100%;
   height: 100%;
   -o-object-fit: cover;
      object-fit: cover;
}
.comment__all-wrap{

   }
.comment__all-btn{
      width: 100%;
      background: #f8f8f8;
      border: 1px solid #f0f0f0;
      border-left: 0;
      border-right: 0;
      /*border: 0;*/
      color: #205090;
      font-size: 14px;
      line-height: 1;
      padding: 13px 0;
   }
.comment__all-btn:hover{
      background: #f0f0f0;
   }
.comment__body{
      padding: 20px;
   }
.comment__item{
         margin: 0 0 15px 0;
      }
.comment__item:last-child{
         margin: 0;
      }
.comment__item:hover .comment__footer{
   -webkit-transform: translateY(0px);
           transform: translateY(0px);
   margin-bottom: 0;
   opacity: 1;
   -webkit-transition-delay: .3s;
           transition-delay: .3s;
}
.comment__item_answer{
         padding: 0 0 0 30px;
      }
.comment__user-info{
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-orient: horizontal;
         -webkit-box-direction: normal;
             -ms-flex-flow: row wrap;
                 flex-flow: row wrap;
         -webkit-box-pack: start;
             -ms-flex-pack: start;
                 justify-content: flex-start;
      }
.comment__user-img{
            width: 30px;
            height: 30px;
         }
.comment__user-img img{
   border-radius: 3px;
   width: 100%;
   height: 100%;
   -o-object-fit: cover;
      object-fit: cover;
}
.comment__user-name{
            margin: 0 0 0 7px;
         }
.comment__user-name span{
   line-height: 30px;
   font-weight: 700;
   color: #333;
}
.comment__text{
            margin: 10px 0;
         }
.comment__text p{
   font-size: 15px;
   margin: 0;
}
.comment__footer{
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            -webkit-transform: translateY(-30px);
                    transform: translateY(-30px);
            margin-bottom: -30px;
            opacity: 0;
         }
.comment__footer-btn{
               -webkit-transition: all .2s ease-in-out;
               transition: all .2s ease-in-out;
            }
.comment__footer-btn:hover{
               background-color: #3870c6;
               color: #fff;
            }
.comment-add__footer{
            display: none;
         }
.comment-add{
      background: #f8f8f8;
      padding: 15px 0;
   }
.comment-add__wrap{
         background: #FFF;
         padding: 10px 20px;
         border: 1px solid #F0F0F0;
      }
.comment-add__wrap:focus .comment-add__body{
   /*display: block;*/
}
.comment-add__header{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-flow: row wrap;
                    flex-flow: row wrap;
            -webkit-box-pack: start;
                -ms-flex-pack: start;
                    justify-content: flex-start;
            height: 30px;
            overflow: hidden;
            background: #FFF;
         }
.comment-add__title{
               margin: 0 0 0 15px;
               -webkit-transition: all 0.3s ease-in-out;
               transition: all 0.3s ease-in-out;
            }
.comment-add__title p{
   margin: 0;
   line-height: 30px;
   color: #808080;
}
.comment-add__title_edit{
               -webkit-transform: translateY(-30px);
                       transform: translateY(-30px);
            }
.comment-add__body{
            display: none;
         }
.comment-add__body form{
   width: 100%;
   height: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
       -ms-flex-flow: row wrap;
           flex-flow: row wrap;
   -webkit-box-pack: end;
       -ms-flex-pack: end;
           justify-content: flex-end;
}
.form__footer > *{
   margin: 0 0 0 5px;
}
.comment-add__body_visible{
            display: block;
         }
.comment-add__textarea{
               /*border: 1px solid #F0F0F0;*/
               border: 0;
               width: 100%;
               height: 100px;
               padding: 5px;
               margin: 5px 0;
            }
.comment-add__textarea:focus{
               outline: 1px solid #F0F0F0;
            }
